html {
  font-size: 100%;
  font-family: 'Helvetica Neue';
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(229, 230, 206);
}

h1 {
  margin: 0;
  padding: 0;
}

.image-container {
  max-width: 80%;
}

img {
  width: 100%;
}

header {
  top: 0;
  left: 4rem;
  margin-bottom: 1rem;
  color: white;
  line-height: 3rem;
}

header > * {
  padding: 0 1rem;
  margin-left: 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  background: black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

nav {
  position: static;
  top : 10px;
  margin-left: auto;
  margin-right: auto;
  background: black;
  text-align: center;
  border-bottom-right-radius: 2px;
  padding: 1rem 0;
  z-index: 1;
}

nav > * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 3rem;
  font-family: monospace;
  display: -webkit-inline-box;
  font-size: 3rem;
  padding-right : 1.5rem;
}

main {
  margin-top: 11rem;
  display: flex;
  justify-content: center;
}

.wrapper {
  position : fixed;
  width : 100%;
  background-color : rgba(229, 230, 206, 0);
  top : 0px;
}

.add:before {
  content : 'add new content';
}

.add {
  position : absolute;
  right : 10rem; 
}

.addjective {
  font-size: 1.3rem;
  font-weight: 100;
}

.negative::before {
  content: 'bad';
}

.negative {
  color: #ffdddd;
}

.positive::before {
  content: 'good';
}

.positive {
  color: #ddffdd;
}

.downvote {
  color: #ffdddd;
}

.downvote:hover {
  color: #ff9999;
}

.downvote:active {
  color: #ff5555;
}

.downvote::before {
  content: '-';
}

.next {
  color: #eee;
  font-size: 2rem;
}

.next:active {
  color: #fff;
}

.next::before {
  content: 'next';
}

.upvote {
  color: #ddffdd;
}

.upvote:hover {
  color: #99ff99;
}

.upvote:active {
  color: #55ff55;
}

.upvote::before {
  content: '+';
}

.hidden {
  /* display: none causes flash errors in FF */
  position: absolute;
  left: -9999px;
  top: -9999px;
}
