html {
  font-size: 100%;
  font-family: 'Helvetica Neue';
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  left: 4rem;
  color: white;
  line-height: 3rem;
}

header > * {
  padding: 0 1rem;
  margin-left: 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  background: black;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 4rem;
  text-align: center;
  border-bottom-right-radius: 2px;
  padding: 1rem 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 3rem;
  font-family: monospace;
  display: block;
  font-size: 3rem;
}

main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.downvote {
  color: #ffdddd;
}

.downvote:hover {
  color: #ff9999;
}

.downvote:active {
  color: #ff5555;
}

.downvote::before {
  content: '-';
}

.next {
  color: #eee;
  font-size: 1rem;
}

.next:active {
  color: #fff;
}

.next::before {
  content: 'next';
}

.upvote {
  color: #ddffdd;
}

.upvote:hover {
  color: #99ff99;
}

.upvote:active {
  color: #55ff55;
}

.upvote::before {
  content: '+';
}

.hidden {
  /* display: none causes flash errors in FF */
  position: absolute;
  left: -9999px;
  right: -9999px;
}
